<h2>Add Request</h2>

<%= form_for(@request, :as => :request, :url => url_for(controller: :requests, action: :create)) do |f| %>
  
  <div><%= f.label :skill %><br />
  <%= f.text_field :skill, :autofocus => true %></div>
  
  <div><%= f.label :location %><br />
  <%= f.text_field :location %></div>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Post" %></div>
<% end %>
