<div class="featurette">
  <div class="container">
    <h1>All Courses</h1>
    <% @courses.each do |course| %>
    <div class="col-md-12">
      <div class="featurette-item">
        <h4>Skill <%= course.skill %></h4>
        <p><em><%= course.datetime %>, <%= course.number || "0" %> person(s) want to take the course.</em></p>
        <% if course.user %>
        <p>Will be taught by <%= course.user.first_name%> <%= course.user.last_name %>.
        <% end %>
        At Location <%= course.location %>, In the time <%= course.datetime %></p>
        <a href="/courses/<%= course.id %>/take" class="btn btn-primary">Take the course</a>
      </div>
    </div>
    <% end %>

    <%= link_to "Back", "/" %>
  </div>
</div>