<div class="featurette">
  <div class="container">
    <h1>All Courses</h1>
    <% @courses.each do |course| %>
    <div class="col-md-12">
      <div class="featurette-item">
        <h4>Skill <%= course.skill %></h4>
        <em><%= course.datetime %></em>
        <% if course.user %>
        <p>Will be taught by <%= course.user.first_name%> <%= course.user.last_name %></p>
        <% end %>
        <p>At Location <%= course.location %></p>
        <p>In the time <%= course.datetime %></p>
      </div>
    </div>
    <% end %>

    <%= link_to "Back", "/" %>
  </div>
</div>