<div class="blurb bright">
<div class="container">
<h2>Sign up</h2>

<%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <%= fields_for :course, resource.courses[0] do |course_fields| %>
  <div><%= course_fields.label :skill %><br />
  <%= course_fields.text_field :skill %></div>
  
  <div><%= course_fields.label :location %><br />
  <%= course_fields.text_field :location %></div>
  
  <div><%= course_fields.label :datetime %><br />
  <%= course_fields.text_field :datetime %></div>

  <% end %>
  
  <%= f.email_field :email, :autofocus => true %>
  
  <%= f.text_field :first_name %>
  
  <%= f.text_field :last_name %>

  <%= f.password_field :password %>

  <%= f.password_field :password_confirmation %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
